29;
height;999;
width;1800;
caption;DownTogether;
font;fonts/gostA.font;
mesh;meshes/cub1.csv;
key;meshes/key.csv;
map;meshes/l2.csv;
ammo;meshes/hrt_small.csv;
heart;meshes/hrt_small.csv;
theme_sound;sounds/Nightwish1.wav;
win_sound;sounds/Whistling.wav;
ammo_sound;sounds/COUPLER.WAV;
live_sound;sounds/connect.wav;
gameover_sound;sounds/MortiraSmert.wav;
bah_sound;sounds/Mushket5.wav;
smert_sound;sounds/UnSmert3.wav;
lose_sound;sounds/UnSmert1.wav;
kick_sound;sounds/Pika2.wav;
flour_tex;textures/wood1.bmp;
wall_tex;textures/rock1.bmp;
ava_tex;textures/ava3.bmp;
day_tex;textures/sky.bmp;
night_tex;textures/sky3.bmp;
hunter_tex;textures/ava4.bmp;
dead_pic;textures/dead.bmp;
bulet_pic;textures/bulet.bmp;
live_pic;textures/heart.bmp;
key_pic;textures/key.bmp;
home;./rc/;
